# Laravel .gitignore
/vendor/
/node_modules/
/.env
/.env.backup
/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/.vagrant
/.idea
/.vscode
/.DS_Store
/storage/*.key
/storage/*.lock
/storage/framework/
/storage/logs/
/bootstrap/cache/
/public/hot
public/storage
public/css/
public/js/
public/mix-manifest.json
public/js/ckeditor.js
public/js/ckeditor.min.js
composer.phar
.DS_Store
Thumbs.db
.env.*.php
.env.php
.php_cs.cache
.vscode
.idea
